config.mk
.config/neomutt
.config/msmtp
.mbsyncrc
.config/zsh/.zcompdump
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpv/fonts/
.config/mpv/watch_later/
.config/ncmpcpp/lyrics/
.config/ncmpcpp/error.log
.config/newsboat/urls
.config/newsraft/urls
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/plugged/
.config/nvim/spell
.config/nvim/ftplugin/vimwiki.vim
.config/nvim/lazy-lock.json
.config/xmonad/xmonad
.config/xmonad/xmonad-contrib
.config/xmonad/stack.yaml.lock
.config/xmonad/.stack-work
.config/xmobar/xmobar
.config/xmobar/xmobar.hi
.config/xmobar/xmobar.o
