!! Colors

xmenu.background: #222222
xmenu.foreground: #bbbbbb
xmenu.selbackground: #005577
xmenu.selforeground: #eeeeee
xmenu.separator: #444444
xmenu.border: #005577

! pmenu
pmenu.font: xft:Ubuntu Mono:size=11
pmenu.background: #181a1b
pmenu.selbackground: #212b30
pmenu.foreground: #4dd0e1
pmenu.selforeground: #c4c7c5
pmenu.border: #294c4f
pmenu.borderWidth: 2px

! Sxiv
Nsxiv*background: #11161b
Nsxiv*foreground: #41535b
